*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
header{
    background-color: #FFFFFF;
}

/* Nav Section Code  */
#blog{
    color: #FF6464;
}
nav{
    width: 100%;
    padding:20px 50px 20px 120px;
    display: flex;
    justify-content: end;
    font-weight: bold;
    color: black;
}
.logo{
    font-size: 22px;
    color: black;
}
.nav-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}
.nav-menu li a{
    text-decoration: none;
    padding: 0 30px;
    color: black;
    font-size: 22px;
}

main{
    margin: 80px 200px;
}
.main-heading{
    font-size: 40px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 10px;
}

.designing-dashboards-desc{
    margin-left: 20px;
}
.designing-dashboards-desc h2{
    color: #000000;
    margin: 40px 0 10px  0;
}
.designing-span{
    display: flex;
    align-items: center;
}
.designing-dashboards-desc .span-1{
    color: #000000;
    font-size: 25px;
    
    margin-right: 15px;
    
}
.designing-dashboards-desc .span-2{
    color: #8695A4;
    border-left: 2px solid #8695A4;
    padding-left: 15px;
}
.designing-dashboards-desc p{
    padding: 15px 0 25px 0;
    color: #3D3F55;
    font-size: 15px;
    border-bottom: 2px solid #E0E0E0;
}



/* footer section code */
footer{
    padding: 25px 0;
}
.footer-icon{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.footer-icon img{
    padding: 0 10px;
}
.copyright{
    display: flex;
    justify-content: center;
}




/* Responsive code start */
@media only screen and (max-width: 640px) {
     
}